@import 'tailwindcss';
@variant dark (&:where(.dark, .dark *));
@plugin "@tailwindcss/typography";

@theme {
  --color-night: #0D0D0D;
  --color-anti-flash-white: #F4F4F6;
  --color-ochre: #DF7500;
  --color-carribean-current: #005F56;
  --color-burgundy: #941E32;

  --font-sans: 'Noto Sans Sinhala', sans-serif;
  --font-mono: 'Yaldevi', sans-serif;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 2rem;
}

@layer base {
  body {
    @apply font-sans bg-anti-flash-white dark:bg-night text-night dark:text-anti-flash-white;
  }
}

@layer utilities {
  .dot-inactive {
    background: transparent;
    border: 1.5px solid #941E32;
  }
  .dot-active {
    background: #941E32;
    border: 1.5px solid #941E32;
  }
}

.dark .dot-inactive {
  border-color: #DF7500;
}
.dark .dot-active {
  background: #DF7500;
  border-color: #DF7500;
}
