name: Update Tag

on:
  push:
    branches: [main, staged]
  pull_request:
    branches: [main, staged]
    types: [opened, synchronize]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install deps
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Determine next version
        id: semver
        uses: ietf-tools/semver-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: main

      - name: Get commit messages
        id: commit_messages
        run: |
          latest_tag=$(git describe --tags --abbrev=0 2>/dev/null || echo "")
          if [ -z "$latest_tag" ]; then
            messages=$(git log --pretty=format:"%s")
          else
            messages=$(git log --pretty=format:"%s" "$latest_tag"..HEAD)
          fi
          messages_escaped=$(echo "$messages" | sed ':a;N;$!ba;s/\n/\\n/g')
          echo "messages=$messages_escaped" >> $GITHUB_OUTPUT

      - name: Create and Push Tag with Message
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Ensure authentication for git push
        run: |
          new_tag=${{ steps.semver.outputs.next }}
          messages="${{ steps.commit_messages.outputs.messages }}"

          git config user.name "${{ secrets.USERNAME }}"
          git config user.email "${{ secrets.EMAIL }}"

          git tag -a "$new_tag" -m "Changes since last commit:\n$messages"
          git push origin "$new_tag"
